---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import QuizList from '../components/QuizList.astro';

// Carga todos los archivos JSON de los cuestionarios
const quizzes = Object.entries(import.meta.glob('../data/test/*.json', { eager: true }))
  .map(([path, module]) => ({
    slug: path.split('/').pop().replace('.json', ''), // Extrae el nombre del archivo como slug
    title: module.title // Usa el campo "title" del JSON
  }));
---

<Layout>
	<h1>Listado de Cuestionarios</h1>
	<QuizList quizzes={quizzes} />
</Layout>
